/* Estilos generales para la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f02d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el header */
header {
    background-image: url('https://t3.ftcdn.net/jpg/02/96/61/94/360_F_296619471_iEGweTy9VsokHtbCJsVmyez0d2rocmmA.jpg');
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

/* Estilos para las secciones */
section {
    padding: 40px 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #0074e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005cbf;
}

/* Estilos para el footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
